<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        div {
            margin: 20px 0;
        }

        div > a {
            font-size: 2em;
            font-weight: bold;
            text-decoration: none;
        }

        body {
            background: #C7EDCC;
        }
    </style>
</head>
<body>
<h3>不在显示列表里:</h3>
{% for r in rss_false_list + rss_list%}
{%if r.id ==2 or r.id ==3 or r.id ==4%}
<div><a href="/items?rssId={{r.id}}" target="_blank" data-enabled="{{r.enabled}}" data-url="{{r.url}}">{{r.name}}</a></div>
{%endif%}
{%endfor%}
<hr/>
<h3>所有列表</h3>
{% for r in rss_list + rss_false_list%}
<div><a href="/items?rssId={{r.id}}" target="_blank" data-enabled="{{r.enabled}}" data-url="{{r.url}}">{{r.name}}</a></div>
{%endfor%}
</body>
</html>